<div class="container mt-5 animate__animated animate__fadeInLeft ">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> IT Inventory System</span>
                    <button class="btn btn-success float-end" routerLink="/create-element"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <table class="table table-stripped-mt-4">
                        <thead>
                            <tr>
                                <th scope="col">
                                    AFI
                                </th>
                                <th scope="col">
                                    Serial Number
                                </th>
                                <th scope="col">
                                    Type
                                </th>
                                <th scope="col">
                                    TradeMark
                                </th>
                                <th scope="col">
                                    Location
                                </th>
                                <th scope="col">
                                    User
                                </th>
                                <th scope="col">
                                    Status
                                </th>
                                <th scope="col">
                                    Remarks
                                </th>
                                <th scope="col">

                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                            <td>
                                Test
                            </td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                            </td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>